<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Материальная помощь</title>
    <link rel="stylesheet" href="{{asset('css/reset.css')}}">
    <link rel="stylesheet" href="{{asset('css/article.css')}}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  </head>
  <body>
    <div id="p_prldr"></div>
    <header class="nav">
      <a href="#">
        <img width="300" height="110" id="logo" src="{{asset('img/logo-header-dark.png')}}"></img>
      </a>
      <ul>
        <li><a href="/" class="noborder">Главная</a></li>
        <li><a href="#">О факультете</a>
          <ul class="nav-about">
            <li><a href="/faculty/general">Общая информация</a></li>
            <li><a href="/faculty/deanery">Деканат</a></li>
            <li><a href="/faculty/location">Расположение</a></li>
            <li><a href="/faculty/history">История</a></li>
            <li><a href="#">Фотогалерея</a></li>
            <li><a href="#">Награды</a></li>
            <li><a href="/faculty/departments">Кафедры</a></li>
            <li><a href="/faculty/student-council">Студсовет</a></li>
          </ul>
        </li>
        <li><a href="/news" class="noborder">Новости</a></li>
        <li><a href="#">Абитуриенту</a>
          <ul class="nav-enrollee">
            <li><a href="/enrollee/specialties">Специальности</a></li>
            <li><a href="/enrollee/location">Расположение корпусов</a></li>
            <li><a href="/enrollee/introductory-campaign">Вступительная кампания</a></li>
            <li><a href="/enrollee/passingscores">Проходные баллы</a></li>
          </ul>
        </li>
        <li><a href="#">Студенту</a>
          <ul class="nav-student">
            <li><a href="/student/schedule">Расписание</a></li>
            <li><a href="/student/tempstatemnts">Шаблоны заявлений</a></li>
            <li><a href="/student/dormitoty">Общежитие</a></li>
            <li><a href="/student/materialaid">Материальная помощь</a></li>
            <li><a href="/student/studprivs">Льготы для студентов</a></li>
            <li><a href="/student/scholarships">Стипендии</a></li>
            <li><a href="/student/paideducation">Платное обучение</a></li>
            <li><a href="/student/payreduction">Понижение оплаты</a></li>
            <li><a href="/student/practice">Практика</a></li>
            <li><a href="/student/graduationproject">Дипломный проект</a></li>
            <li><a href="/student/distribution">Распределение</a></li>
            <li><a href="/student/militarytraining">Военная подготовка</a></li>
          </ul>
        </li>
        <li><a href="/ads" class="noborder">Объявления</a></li>
      </ul>
    </header>


    <div id="container">
      <div id="container-article">
        <div class="box-name-1"><h1>Материальная помощь</h1><hr></div>
        <div id="article">
          <p>Материальная помощь – денежная выплата, которая назначается студентам,
          магистрантам, аспирантам дневной  формы получения образования, на основании поданного
          заявления, один раз в семестр для студентов бюджетной формы обучения и один раз в 
          календарный год для студентов платной формы обучения.</p>
          <p>Материальная помощь в порядке исключения может быть оказана студенту повторно в течение
          семестра при чрезвычайном происшествии по ходатайству профкома студентов БГУИР при согласовании
          и утверждении в установленном порядке.</p>

          <h1>Кто имеет право на материальную помощь?</h1>

          <p>Хадатайствовать на получение материальной помощи могут следующие лица:</p>
          <ul class="list" style="list-style-type: square">
            <li>студенты-сироты и приравненные к ним лица;</li>
            <li>студенты, магистранты потерявшие последнего из родителей в период обучения;</li>
            <li>студенты, магистранты из неполных семей (смерть одного из родителей, развод родителей);</li>
            <li>студенты, магистранты из многодетных семей;</li>
            <li>студенты, магистранты , аспиранты имеющие инвалидность;</li>
            <li>одинокие матери (студенты, магистранты, аспиранты, родившие ребенка вне брака);</li>
            <li>студенты, магистранты, в семьях которых одновременно проходят обучение  2 (двое) и более студентов дневной формы обучения;</li>
            <li>студенты, магистранты, аспиранты при длительном стационарном (не менее 2-х недель) или дорогостоящем амбулаторном лечении;</li>
            <li>студенты, магистранты, аспиранты при несчастном случае, повлекшем тяжёлые материальные последствия, произошедшем не по вине студента;</li>
            <li>студенты, магистранты, аспиранты, вступившие впервые в брак;</li>
            <li>семейные студенты, магистранты, аспиранты (имеющие и не имеющие детей);</li>
            <li>студенты, магистранты, аспиранты в случае рождения ребёнка;</li>
            <li>студенты, магистранты, аспиранты с тяжёлым материальным положением;</li>
            <li>студенты, магистранты, аспиранты в случае смерти родителей, супругов, детей, родного брата или сестры;</li>
          </ul>

          <h1>Как можно получить материальную помощь?</h1>

          <p>Для получения материальной помощи необходимо:
            <ul class="list" style="list-style-type: decimal">
              <li>Изучить <a href="{{asset('documents/material-aid-bsuir.pdf')}}">Положение об оказании материальной помощи</a> и выбрать соответствующую категорию </li>
              <li>Сделать копию документов, подтверждающую причину для получения материальной помощи (необходимые документы см. в Положении об оказании материальной помощи) </li>
              <li>Взять бланк в 311-2; у социального педагога (324Б-4); у председателя профбюро Вашего факультета </li>
              <li>Разборчиво и внимательно заполнить ВСЕ необходимые данные о себе </li>
              <li>Подписать бланк у старосты группы, социального педагога в 324Б-4 </li>
              <li>Отдать бланк и документы, указанные в Положении,  в профком студентов БГУИР в 311-2 до 10-го числа текущего месяца. В противном случае материальная помощь будет начислена в следующем месяце </li>
            </ul>
          </p>

          <p>Если Вы обучаетесь на бюджетной форме  – материальная помощь будет
            начислена на карточку в дни выдачи стипендии. Если форма обучения
            платная – в дни выдачи стипендии необходимо подойти в 214-2, забрать
            бланк и получить материальную помощь в кассе.</p>
          <p>В случае смерти студента, магистранта, аспиранта материальная помощь
            оказывается его родителям из фонда материального поощрения внебюджетных
            средств университета на основании заявления на имя ректора и копии
            свидетельства о смерти в размере 10 базовых величин (единовременно).</p>
          <p>В случае смерти последнего из родителей студента, обучающегося за
            счет собственных средств, Комиссия рассматривает и представляет на
            заседание ректората вопрос о размере и сроках предоставлении материальной
            помощи из внебюджетных средств университета.</p>
        </div>

      </div>
      <div id="container-also">
        <div class="box-name-1"><h1>Студенту</h1><hr></div>
        <div id="also">
          <div class="also-item">
            <a href="schedule"><p>Расписание</p></a>
            <a href="tempstatemnts"><p>Шаблоны заявлений</p></a>
            <a href="dormitoty"><p>Общежитие</p></a>
            <a href="materialaid"><p class="selected">Материальная помощь</p></a>
            <a href="studprivs"><p>Льготы для студентов</p></a>
            <a href="scholarships"><p>Стипендии</p></a>
            <a href="paideducation"><p>Платное обучение</p></a>
            <a href="payreduction"><p>Понижение оплаты</p></a>
            <a href="practice"><p>Практика</p></a>
            <a href="graduationproject"><p>Дипломный проект</p></a>
            <a href="distribution"><p>Распределение</p></a>
            <a href="militarytraining"><p>Военная подготовка</p></a>
          </div>
        </div>
      </div>
      <div id="footer">
        <div class="box-name-1"><h1></h1><hr></div>
        <div class="footer-link">
          <a href="/">
            <img width="328" height="328" src="{{asset('img/logo-footer.jpg')}}"></img>
          </a>
        </div>
        <div class="footer-nav">
          <ul>
            <li class="hlink">О факультете</li>
            <li>общая информация</li>
            <li>деканат</li>
            <li>расположение</li>
            <li>история</li>
            <li>фотогалерея</li>
            <li>награды</li>
            <li>кафедры</li>
            <li>студсовет</li>
          </ul>
          <ul>
            <li class="hlink">Новости</li>
          </ul>
          <ul>
            <li class="hlink">Абитуриенту</li>
            <li>специальности</li>
            <li>расположение корпусов</li>
            <li>вступительная кампания</li>
            <li>проходные баллы</li>
            </ul>
          <ul>
            <li class="hlink">Студенту</li>
            <li>расписание</li>
            <li>шаблоны заявлений</li>
            <li>общежитие</li>
            <li>материальная помощь</li>
            <li>льготы для студентов</li>
            <li>стипендии</li>
            <li>платное обучение</li>
            <li>понижение оплаты</li>
            <li>практика</li>
            <li>дипломный проект</li>
            <li>распределение</li>
            <li>военная подготовка</li>
          </ul>
          <ul>
            <li class="hlink">Объявления</li>
          </ul>
          <div class="footer-info">
            <p>ЦИИР БГУИР, 2002-2016</p>
            <h3>Все права защищены</h3>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(window).on('load', function () { var $preloader = $('#p_prldr'); $preloader.delay().fadeOut('slow');});
    </script>
    </body>
</html>
